<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741438909575-112pcmq9l9i50um5ar4uf6vnd3jscekn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741438909575-112pcmq9l9i50um5ar4uf6vnd3jscekn</string>
	<key>API_KEY</key>
	<string>AIzaSyDCOeX-THTjMv2jomBfge41ATmW0h-dcZE</string>
	<key>GCM_SENDER_ID</key>
	<string>741438909575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotificationsApp</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-4c62f</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-4c62f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741438909575:ios:4bd74632f0a9e578ed5c22</string>
</dict>
</plist>